body {
  font-size: 15px;
}

button {
  background: var(--yellow);
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2";
  grid-gap: 20px;
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: url("images/taco.jpg") bottom right;
  background-size: cover;
  padding: 50px;
  display: grid;
  justify-content: start;
  align-items: center;
  align-content: center;
  justify-items: start;
}

.hero > * {
  background: var(--yellow);
  padding: 5px;
}

.cta {
  background: var(--yellow);
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.cta > p {
  margin: 0;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

.menu > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  list-style: none;
  padding: 0;
}

.menu a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--black);
}

[aria-controls="menu-list"] {
  display: none;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.feature {
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .1);
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}

.feature > .icon {
  font-size: 50px;
}

.feature p {
  color: rgba(0, 0, 0, .5);
}

.about {
  background: white;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
  padding: 50px;
}